*{
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
  box-sizing: border-box;
}

.gallery-section .links a {
  background-color: black;
  color: white;
  padding: .5em .5em;
  text-decoration: none;
  text-transform: uppercase;
}

.gallery-section .links a:hover {
  background-color: #555;
}

.gallery-section .links a:active {
  background-color: darkgreen;
}


.gallery-section{
  width: 100%;
  padding: 60px 0;
  background: #f1f1f1;
}

.inner-width{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 5px;
}

.gallery-section h1{
  text-align: center;
  text-transform: uppercase;
  color: #333;
}
.gallery-section h2{
  text-align: center;
  color: #333;
}

.boxmodel{
  display: inline-block;
  vertical-align: middle;
  padding: 5px 20px;
  margin: 30px 40px 0px 40px;
}

.border{
  width: 180px;
  height: 4px;
  background: #333;
  margin: 60px auto;
}

.gallery-section .gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.gallery-section .image{
  flex: 25%;
  overflow: hidden;
  cursor: pointer;
}

.gallery-section .image img{
  transition: 0.4s;
  width: 450px;
  height: 300px;
  margin: 10px;
}

.gallery-section .image:hover img{
  transform: scale(1.4) rotate(15deg);
}

@media screen and (max-width:960px) {
  .gallery-section .image{
    flex: 33.33%;
  }
}

@media screen and (max-width:768px) {
  .gallery-section .image{
    flex: 50%;
  }
}

@media screen and (max-width:480px) {
  .gallery-section .image{
    flex: 100%;
  }
}
